.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.primaryColor {
  color: hsl(158, 36%, 37%);
}

body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

main {
  width: 100%;
  height: 100vh;
  background-color: papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.card {
  width: 600px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.col {
  width: 50%;

  color: hsl(228, 12%, 48%);
}

article {
  padding: 30px;
}

.card_img {
  width: 100%;
  height: 100%;
}

.card_name_item {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card_name_title {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 2em;
}

.card_price {
  margin: 0;
  list-style: none;
}

.card_price_item {
  font-size: 2em;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin-right: 30px;
}

.add_cart_item {
  display: block;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  text-decoration: none;
}

.add_cart_item:hover {
  background-color: hsl(158, 36%, 24%);
}

/* Responsive Breakpoint */

@media screen and (max-width: 638px) {
  .card {
    height: max-content;
    flex-direction: column;
    margin: 0 30px;
  }

  .col {
    width: 100%;
  }

  .card_img {
    height: 250px;
  }
}
